[Unit]
Description=Nitro Enclaves vsock Proxy
After=network-online.target
DefaultDependencies=no

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vsock-proxy
ExecStart=/bin/bash -ce "REGION=$(curl --silent http://169.254.169.254/latest/dynamic/instance-identity/document | jq -r .region) ; \
			exec /usr/bin/vsock-proxy 8000 kms.$${REGION}.amazonaws.com 443 \
                --config /etc/nitro_enclaves/vsock-proxy.yaml"
Restart=always
TimeoutSec=0

[Install]
WantedBy=multi-user.target
