[Unit]
Description=start, reload and stop vsock-proxy service
After=sysinit.target
DefaultDependencies=no

[Service]
Type=simple
StandardOutput=none
StandardError=none
SyslogIdentifier=vsock-proxy
Environment=REGION=$(/bin/bash -ce "echo $HOSTNAME | cut -d '.' -f 2")
ExecStart=/bin/bash -ce "exec /usr/sbin/vsock-proxy 8000 kms.${REGION}.amazonaws.com 443 >> /var/log/vsock-proxy.log 2>&1"
ExecReload=/bin/bash -ce "exec /usr/sbin/vsock-proxy 8000 kms.${REGION}.amazonaws.com 443 >> /var/log/vsock-proxy.log 2>&1"
Restart=always
TimeoutSec=0

[Install]
WantedBy=multi-user.target
