[Unit]
Description=Nitro Enclaves Resource Allocator
DefaultDependencies=no
After=sysinit.target

[Service]
Type=oneshot
StandardOutput=journal
StandardError=journal
SyslogIdentifier=nitro-enclaves-allocator
ExecStart=/usr/bin/nitro-enclaves-allocator
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
