*.o
enclave
build/
crates-dependencies/
nitro-cli-dependencies.tar.gz
.build*
*/.*
**/target
**/*.rs.bk
**/*o.cmd
**/*o.cmd
**/*.o
**/*o.mod.o
**/*mod.c
**/*.ko
!blobs/nsm.ko
!samples/command_executer/resources/blobs/nsm.ko
**/*order
**/*symvers
**/*.tmp_versions
**/*.tmp_versions
**/*.cache.mk
.idea
*/debug
*/release
*/x86_64-unknown-linux-musl
