[package]
name = "nitro-cli"
version = "0.1.0"
authors = ["Alexandru Gheorghe <aggh@amazon.com>"]
edition = "2018"

[dependencies]
serde = { version = ">=1.0", features = ["derive"] }
chrono = "0.4"
clap = "2.33"
inotify = "0.7"
memmap = "0.7"
serde_json = "1.0"
nix = "0.15"
log = "0.4"
libc = { version = ">=0.2.69" }
flexi_logger = "0.15"
page_size = "0.4"
signal-hook = "0.1"
serde_cbor = "0.10"
eif_loader = { path = "./eif_loader" }
enclave_build = { path = "./enclave_build" }
openssl = "0.10"
vsock = "0.1.5"
num-traits = { version = "0.2", optional = true}
enum-primitive-derive = { version = "0.1", optional = true}

lazy_static = "1.4.0"

[build-dependencies]
bindgen = { version=">=0.54" }

[dev-dependencies]
log = "0.4"
num-derive = "0.2"
num-traits = "0.2"
tempfile = "3.1"

[workspace]
members = [".", "eif_defs", "eif_loader", "eif_utils", "enclave_build", "vsock_proxy"]

[features]
default = []
power_user = []
# This feauture is used for activating the commands from the poweruser cli
poweruser = ["num-traits", "enum-primitive-derive"]