# SPDX-License-Identifier: GPL-2.0
#
# Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms and conditions of the GNU General Public License,
# version 2, as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, see <http://www.gnu.org/licenses/>.

# Amazon Nitro Enclaves (NE) support.
# Nitro is a hypervisor, based on KVM, that has been developed by Amazon.

config NITRO_ENCLAVES
	tristate "Nitro Enclaves Support"
	---help---
	  This driver consists of support for enclave lifetime management
	  for Nitro Enclaves (NE).

	  To compile this driver as a module, choose M here.
	  The module will be called nitro_enclaves.
